@model CMSSolutions.Websites.Models.DataViewerModel

<div class="banner-bg">
    @if (Model.Banner != null)
    {
        <img class="img-responsive image-center" src="@Model.Banner.ImageUrl" />
    }
</div>