<div class="logo col-md-2">
    <a href="/">
        <img class="img-responsive" src="/Media/Default/Logo/qhoney.png" alt="QHoney" />
    </a>
</div>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="navbar-collapse collapse">
    <ul class="nav nav-justified menu-font">
        <li class="active">
            <a href="/trang-chu" title="Trang chủ">Trang chủ</a>
        </li>
        <li>
            <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
        </li>
        <li>
            <a href="/san-pham" title="Sản phẩm">Sản phẩm</a>
        </li>
        <li class="dropdown">
            <a href="/tin-tuc" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                Tin tức
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/tin-tuc/tin-tuc-sanuco">Tin tức Sanuco</a>
                </li>
                <li>
                    <a href="/tin-tuc/cong-dung-cua-mat-ong">Công dụng của mật ong</a>
                </li>
                <li>
                    <a href="/tin-tuc/blog">Blog</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/lien-he" title="Liên hệ">Liên hệ</a>
        </li>
    </ul>
</div>