@*<footer id="page-footer">
    <div class="container">
        <div class="footer-menu">
            <ul class="nav nav-justified">
                <li>
                    <a href="/lien-he">CONTACT US</a>
                </li>
                <li>
                    <a href="#">FOLLOW US</a>
                </li>
                <li>
                    <a href="#">SPECIAL OFFER</a>
                </li>
            </ul>
        </div>
        <div class="row footer-content">
            <div class="col-md-4 item-box">
                <h2>CÔNG TY CỔ PHẦN THỰC PHẨM DINH DƯỠNG SANUCO</h2>
                <p>Số 75, Đường 51, Phường 14, Q.Gò Vấp, TP.HCM</p>
                <p>Đt: (80) 3831 0567</p>
            </div>
            <div class="col-md-4">
                <div class="network-icon">
                    <a href="#"><img src="/Media/Default/Themes/icon-w.png" /></a>
                    <a href="#"><img src="/Media/Default/Themes/icon-net.png" /></a>
                    <a href="#"><img src="/Media/Default/Themes/icon-fb.png" /></a>
                    <div class="clearfix"></div>
                </div>
                            
            </div>
            <div class="col-md-4">
                <form id="frmSendEmail">
                    <input type="text" id="txtEmail" name="txtEmail" class="text-email" />
                    <a href="#" class="btn-submit" id="btnSave">Gửi</a>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>2016 © QHoney. All Rights Reserved.</p>
        </div>
    </div>
</footer>*@